<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Account_Details_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>com.Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountProfile</display-name>
    <servlet-name>AccountProfile</servlet-name>
    <servlet-class>com.AccountProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountProfile</servlet-name>
    <url-pattern>/AccountProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassInterfaceDemo</display-name>
    <servlet-name>ClassInterfaceDemo</servlet-name>
    <servlet-class>com.ClassInterfaceDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassInterfaceDemo</servlet-name>
    <url-pattern>/ClassInterfaceDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigServlet</display-name>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>com.ConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigServlet</servlet-name>
    <url-pattern>/ConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookiesDashboard</display-name>
    <servlet-name>CookiesDashboard</servlet-name>
    <servlet-class>com.CookiesDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesDashboard</servlet-name>
    <url-pattern>/CookiesDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookiesLogin</display-name>
    <servlet-name>CookiesLogin</servlet-name>
    <servlet-class>com.CookiesLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesLogin</servlet-name>
    <url-pattern>/CookiesLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>com.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoJDBC</display-name>
    <servlet-name>DemoJDBC</servlet-name>
    <servlet-class>com.DemoJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoJDBC</servlet-name>
    <url-pattern>/DemoJDBC</url-pattern>
  </servlet-mapping>
</web-app>